@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.grid {
    display: flex; 
    flex-wrap: wrap; 
    height: 300px; 
    width: 400px; 
    box-shadow: 6px 6px 15px black; 
    margin: auto;
}
body {
    background-color: #fff7f7; 
    background-image: url('images/background.jpeg'); 
    background-size: 600px 870px; 
}
.heading {
    display: flex;
    justify-content: center;
    margin: auto; 
    color:#490554;
    font-family: 'PT Serif', serif;
}
.score {
    display: flex; 
    justify-content: center; 
    margin: auto; 
    color: #490554; 
    font-size: 20px; 
    font-family: 'PT Serif', serif;
}
